[defaults]
inventory = ./inventory
remote_user = ansible
host_key_checking = false
ask_pass = no
#roles_path = /usr/share/ansible/roles:/home/ansible/projects/1-basic_playbook/roles
#vault_password_file = /home/ansible/projects/1-basic_playbook/password.txt

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false
